ZZZZZ ICON "${CMAKE_CURRENT_SOURCE_DIR}/res/app.ico"

BLADEMASTER_01 ICON "${CMAKE_CURRENT_SOURCE_DIR}/res/classes/blademaster/01.ico"
WIZARD_01 ICON "${CMAKE_CURRENT_SOURCE_DIR}/res/classes/wizard/01.ico"
BARBARIAN_01 ICON "${CMAKE_CURRENT_SOURCE_DIR}/res/classes/barbarian/01.ico"
VENOMANCER_01 ICON "${CMAKE_CURRENT_SOURCE_DIR}/res/classes/venomancer/01.ico"
ARCHER_01 ICON "${CMAKE_CURRENT_SOURCE_DIR}/res/classes/archer/01.ico"
CLERIC_01 ICON "${CMAKE_CURRENT_SOURCE_DIR}/res/classes/cleric/01.ico"
ASSASSIN_01 ICON "${CMAKE_CURRENT_SOURCE_DIR}/res/classes/assassin/01.ico"
PSYCHIC_01 ICON "${CMAKE_CURRENT_SOURCE_DIR}/res/classes/psychic/01.ico"
SEEKER_01 ICON "${CMAKE_CURRENT_SOURCE_DIR}/res/classes/seeker/01.ico"
MYSTIC_01 ICON "${CMAKE_CURRENT_SOURCE_DIR}/res/classes/mystic/01.ico"
DUSKBLADE_01 ICON "${CMAKE_CURRENT_SOURCE_DIR}/res/classes/duskblade/01.ico"
STORMBRINGER_01 ICON "${CMAKE_CURRENT_SOURCE_DIR}/res/classes/stormbringer/01.ico"
TECHNICIAN_01 ICON "${CMAKE_CURRENT_SOURCE_DIR}/res/classes/technician/01.ico"
EDGERUNNER_01 ICON "${CMAKE_CURRENT_SOURCE_DIR}/res/classes/edgerunner/01.ico"
WILDWALKER_01 ICON "${CMAKE_CURRENT_SOURCE_DIR}/res/classes/wildwalker/01.ico"

BLADEMASTER_02 ICON "${CMAKE_CURRENT_SOURCE_DIR}/res/classes/blademaster/02.ico"
WIZARD_02 ICON "${CMAKE_CURRENT_SOURCE_DIR}/res/classes/wizard/02.ico"
BARBARIAN_02 ICON "${CMAKE_CURRENT_SOURCE_DIR}/res/classes/barbarian/02.ico"
VENOMANCER_02 ICON "${CMAKE_CURRENT_SOURCE_DIR}/res/classes/venomancer/02.ico"
ARCHER_02 ICON "${CMAKE_CURRENT_SOURCE_DIR}/res/classes/archer/02.ico"
CLERIC_02 ICON "${CMAKE_CURRENT_SOURCE_DIR}/res/classes/cleric/02.ico"
ASSASSIN_02 ICON "${CMAKE_CURRENT_SOURCE_DIR}/res/classes/assassin/02.ico"
PSYCHIC_02 ICON "${CMAKE_CURRENT_SOURCE_DIR}/res/classes/psychic/02.ico"
SEEKER_02 ICON "${CMAKE_CURRENT_SOURCE_DIR}/res/classes/seeker/02.ico"
MYSTIC_02 ICON "${CMAKE_CURRENT_SOURCE_DIR}/res/classes/mystic/02.ico"
DUSKBLADE_02 ICON "${CMAKE_CURRENT_SOURCE_DIR}/res/classes/duskblade/02.ico"
STORMBRINGER_02 ICON "${CMAKE_CURRENT_SOURCE_DIR}/res/classes/stormbringer/02.ico"
TECHNICIAN_02 ICON "${CMAKE_CURRENT_SOURCE_DIR}/res/classes/technician/02.ico"
EDGERUNNER_02 ICON "${CMAKE_CURRENT_SOURCE_DIR}/res/classes/edgerunner/02.ico"
WILDWALKER_02 ICON "${CMAKE_CURRENT_SOURCE_DIR}/res/classes/wildwalker/02.ico"

BLADEMASTER_03 ICON "${CMAKE_CURRENT_SOURCE_DIR}/res/classes/blademaster/03.ico"
WIZARD_03 ICON "${CMAKE_CURRENT_SOURCE_DIR}/res/classes/wizard/03.ico"
BARBARIAN_03 ICON "${CMAKE_CURRENT_SOURCE_DIR}/res/classes/barbarian/03.ico"
VENOMANCER_03 ICON "${CMAKE_CURRENT_SOURCE_DIR}/res/classes/venomancer/03.ico"
ARCHER_03 ICON "${CMAKE_CURRENT_SOURCE_DIR}/res/classes/archer/03.ico"
CLERIC_03 ICON "${CMAKE_CURRENT_SOURCE_DIR}/res/classes/cleric/03.ico"
ASSASSIN_03 ICON "${CMAKE_CURRENT_SOURCE_DIR}/res/classes/assassin/03.ico"
PSYCHIC_03 ICON "${CMAKE_CURRENT_SOURCE_DIR}/res/classes/psychic/03.ico"
SEEKER_03 ICON "${CMAKE_CURRENT_SOURCE_DIR}/res/classes/seeker/03.ico"
MYSTIC_03 ICON "${CMAKE_CURRENT_SOURCE_DIR}/res/classes/mystic/03.ico"
DUSKBLADE_03 ICON "${CMAKE_CURRENT_SOURCE_DIR}/res/classes/duskblade/03.ico"
STORMBRINGER_03 ICON "${CMAKE_CURRENT_SOURCE_DIR}/res/classes/stormbringer/03.ico"
TECHNICIAN_03 ICON "${CMAKE_CURRENT_SOURCE_DIR}/res/classes/technician/03.ico"
EDGERUNNER_03 ICON "${CMAKE_CURRENT_SOURCE_DIR}/res/classes/edgerunner/03.ico"

/****************************************************/
/* Applications can change or remove this */

1 VERSIONINFO
 FILEVERSION ${VERSION_MAJOR},${VERSION_MINOR},${VERSION_PATCH},0
 PRODUCTVERSION ${VERSION_MAJOR},${VERSION_MINOR},${VERSION_PATCH},0
BEGIN
END

/* The following lines will enable Windows XP/Vista Visual Styles */

1 24 "app.manifest"

/****************************************************/
